In [ ]:
'''1] Explain the key features of Python that make it a popular choice for programming.
Key features of python includes:
a] It is widely use in industry.
b] It have a lot of libraries.i.e.NumPy, Pandas, etc.
c] Image processing and Automation purpose.
d] It have ease of learning.
e] It have versatality.
f] Python's clean and short syntax provides outstanding readability.
g] Python have huge active community.
i] Python is a popular language for frontend and backend web development due to its simplicity.
j] Python is a high-level language, because meaning the code is closer to human language than machine language.'''

In [2]:
'''2] Describe the role of predefined keywords in Python and provide examples of how they are used in a program.
a] Keywords are reserved words in python.
b] We cannot use a keyword as a variable name, function name or any other identifier.
c] They are used to define the syntax and structure of the python language.
d] They holds the special meaning and have specific purpose.
e] It has a set of predefined keywords for various purposes, including control flow (if, else,for, while) and managing data (True, False, None).

Example'''
a = 20
if a > 10:                                     #if keyword
    print("a is greater than 10")              #print keyword
elif a == 5:                                  #elif keyword
    print("a is equal to 10")
else:                                         #else keyword
    print("a is less than 10")

a is greater than 10

In [6]:
'''3] Compare and contrast mutable and immutable objects in Python with examples.
Mutable Objects :
Mutable objects can be changed after they are created. This means that we can modify the contents of the object (like elements in a list) without creating a new object.
Common mutable types in Python include:
a] Lists
b] Dictionaries
c] Sets'''
# List is mutable
my_list = [12,15,44]
my_list[0] = 10  # Modifies the first '0'th index element
print(my_list)

# Dictionary is mutable
my_dict = {"name": "Sahil", "age": 25}
my_dict["age"] = 23  # Modifies the value
print(my_dict)

[10, 15, 44]
{'name': 'Sahil', 'age': 23}

In [10]:
'''Immutable Objects
Immutable objects cannot be changed once they are created. Any attempt to modify an immutable object results in the creation of a new object rather than altering the original.
Common immutable types in Python include:
a] Tuples
b] Strings
c] Frozensets'''

# String is immutable
my_string = "hello"
new_string = my_string.replace("h", "H")  # Does not modify `my_string`
print(my_string)  # Output: "hello" (original string is unchanged)
print(new_string) # Output: "Hello" (new string created)

hello
Hello

In [13]:
# Tuple is immutable
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # This would raise a TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [14]:
 '''4] Explain the concept of type casting in Python with examples.
The process of changing the data types of a variable/object, then it is called type casting.
It includes two types:
a] Implicit Type Casting: Python automatically converts one data type to another without requiring explicit instruction from the user.
Python automatically performs implicit type conversion in certain operations, usually when a data type with a smaller range is combined with a data type of a larger range.
For example, if you add an integer and a float, Python will automatically convert the integer to a float to avoid losing information.
Example of Implicit Type Casting'''
# Integer and float addition
num_int = 10
num_float = 5.5

result = num_int + num_float  # Python converts num_int to float
print(result)         # Output: 15.5
print(type(result))   # Output: <class 'float'>

'''b] Explicit Type Casting: The user manually converts one data type to another using Python's built-in functions.
In explicit type casting, the programmer uses specific functions to convert a variable to a desired type. Python provides several built-in functions for type conversion, such as:

int(): Converts a value to an integer.
float(): Converts a value to a floating-point number.
str(): Converts a value to a string.
list(): Converts an iterable (e.g., a tuple or string) to a list.
tuple(): Converts an iterable to a tuple.
dict(): Converts a sequence of key-value pairs to a dictionary.
Example of Explicit Type Casting'''
# Converting a float to an integer
num_float = 7.1
num_int = int(num_float)  # Truncates the decimal part
print(num_int)            # Output: 7

# Converting an integer to a string
age = 25
age_str = str(age)
print(age_str)            # Output: '25'
print(type(age_str))      # Output: <class 'str'>

# Converting a list to a tuple
my_list = [12,45,99]
my_tuple = tuple(my_list)
print(my_tuple)           # Output: (12,45,99)
print(type(my_tuple))     # Output: <class 'tuple'>

# Converting a string to a float
num_str = "86.40"
num_float = float(num_str)
print(num_float)          # Output: 86.40
print(type(num_float))    # Output: <class 'float'>

15.5
<class 'float'>
7
25
<class 'str'>
(12, 45, 99)
<class 'tuple'>
86.4
<class 'float'>

In [15]:
'''5] Discuss the different types of operators in Python and provide examples of how they are used.
In Python, operators are special symbols/keywords that perform operations on variables and value.
It includes various types of operators :
a] Arithmetic operators - These operators are used to perform mathematical operations.
Operator	         Description	               Example
+	                  Addition	                10 + 3 = 13
-	                 Subtraction	              10 - 3 = 7
*	                 Multiplication           	10 * 3 = 30
/	                 Division                 	10 / 2 = 5
//	              Floor Division	            10 // 2 = 5
%	                Modulus (Remainder)       	10 % 2 = 0
**	              Exponentiation	            10 ** 2 = 100'''
a = 15
b = 2
print(a + b)  # Additition
print(a - b)  #subtraction
print(a * b)  #multiplication
print(a / b)  #division
print(a % b)  #modulus
print(a ** b) #Expoentiation
print(a // b) #floor division

17
13
30
7.5
1
225
7

In [18]:
'''b] Assignment operators - These operators assign values to variables and can combine other operations with assignment.
Operator	                   Description	                         Example
=	                            Assignment	                          a = 5
+=	                        Add and assign	                        a += 3 (equivalent to a = a + 3)
-=	                        Subtract and assign	                    a -= 2
*=	                         Multiply and assign	                  a *= 4
/=	                          Divide and assign	                    a /= 2
//=	                          Floor divide and assign	              a //= 2
%=	                          Modulus and assign	                  a %= 3
**=	                          Exponentiate and assign	              a **= 2'''

a = 20   # Initial assignment
print("Initial value of a:", a)

# Add and assign
a += 5    # a = a + 5
print("After a += 5:", a)

# Subtract and assign
a -= 3    # a = a - 3
print("After a -= 3:", a)

# Multiply and assign
a *= 2    # a = a * 2
print("After a *= 2:", a)

# Divide and assign
a/= 4    # a= a / 4
print("After a /= 4:", a)

# Modulus and assign
a %= 5    # a = a % 5
print("After a %= 5:",a)

# Exponent and assign
a **= 3   #a = a ** 3
print("After a **= 3:",a)

# Floor divide and assign
a = 20    # Reset ato 20
a //= 3   # a = a // 3
print("After a //= 3:", a)

Initial value of a: 20
After a += 5: 25
After a -= 3: 22
After a *= 2: 44
After a /= 4: 11.0
After a %= 5: 1.0
After a **= 3: 1.0
After a //= 3: 6

In [19]:
'''c] Comparison operators - These operators compare values and return a Boolean result (True or False).
Operator	          Description	                   Example
==	                Equal to	                      5 == 3 → False
!=	                Not equal to	                  5 != 3 → True
>	                  Greater than                   	5 > 3 → True
<	                  Less than	                      5 < 3 → False
>=	                Greater than or equal to	      5 >= 3 → True
<=	                Less than or equal to	          5 <= 3 → False'''
a = 10
b = 5
print(a == b)  #equal
print(a != b)  #not equal
print(a > b)   #greater than
print(a < b)   #less than
print(a >= b)  #greater than or equal
print(a <= b) #lesser than or equal

False
True
True
False
True
False

In [23]:
'''d] Logical operators - These operators are used to combine conditional statements.
Operator	                  Description	                               Example
and	                      True if both are true	               (5 > 3) and (3 < 8) → True
or	                      True if at least one is true	        (5 > 3) or (3 > 8) → True
not	                      True if condition is false	            not(5 > 3) → False'''
x, y = True, False
print(x and y)  # Output: False
print(x or y)   # Output: True
print(not x)    # Output: False

False
True
False

In [25]:
'''e] Identity operators - These operators test if two variables refer to the same object in memory.

Operator	                             Description	                           Example
is	                        True if objects are identical	                     a is b
is not	                    True if objects are not identical	                 a is not b'''
a = [1, 2, 3]
b = a
c = [1, 2, 3]
print(a is b)         # Output: True
print(a is not c)     # Output: True

True
True

In [26]:
'''f] Membership operators - These operators test whether a value is a member of a sequence, such as a list, tuple, or string.
Operator	                    Description	                                                 Example
in	                    True if value is in sequence	                              'a' in 'apple' → True
not in	                True if value is not in sequence	                          'x' not in 'apple' → True'''
lst = [1, 2, 3]
print(2 in lst)     # Output: True
print(4 not in lst) # Output: True

True
True

In [27]:
'''g] Bitwise operators - These operators perform bit-level operations on integers.
Operator	                      Description	                            Example
&	                              Bitwise AND	                            5 & 3 → 1
`	                                   `	                                 Bitwise OR
^	                              Bitwise XOR	                            5 ^ 3 → 6
~	                              Bitwise NOT	                            ~5 → -6
<<	                            Left shift	                            5 << 1 → 10
>>	                            Right shift                           	5 >> 1 → 2'''
a, b = 2, 4
print(a & b)  # Output: 0
print(a | b)  # Output: 6

0
6

In [28]:
'''6] How do conditional statements work in Python? Illustrate with examples.
In Python, conditional statements are used to perform different actions based on whether a given condition evaluates to True or False. The primary conditional statements in Python are if, elif, and else.

Syntax of Conditional Statements
a] if statement: Used to test a condition.
b] elif (else if) statement: Used to check multiple conditions if the initial if condition is False.
c] else statement: Executes when all previous conditions are False.'''
#basic example
x = 10

if x > 4:
    print("x is greater than 4")
else:
    print("x is not greater than 4")

x is greater than 4

In [31]:
'''Explanation - If x is greater than 20, the first if block is executed.
If the first condition is False, the elif condition checks if x is greater than 10, and executes the corresponding block if true.
If none of the above conditions are true, the else block is executed.'''
x = 15

if x > 20:
    print("x is greater than 20")
elif x > 10:
    print("x is greater than 10 but less than or equal to 20")
else:
    print("x is 10 or less")

x is greater than 10 but less than or equal to 20

In [32]:
'''Nested Conditional Statements
You can also nest if statements inside other if statements.
Example '''
x = 10
y = 5

if x > 5:
    if y < 10:
        print("x is greater than 5 and y is less than 10")
    else:
        print("x is greater than 5 but y is not less than 10")
else:
    print("x is not greater than 5")

x is greater than 5 and y is less than 10

In [35]:
'''7] Describe the different types of loops in Python and their use cases with examples.
Loops is nothing but it allows us to to execute a block of code repeatedly.
It provides two types of loops ;
a] for loop - It iterate over the sequence of elements.It's typically used when you know in advance how many times you want to repeat a block of code.
Syntax :
for variable in sequence:
    # code block
Use Case:
Iterating over a list or collection, or performing a repetitive task a specific number of times.
Example '''
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

# Another Example: Printing numbers from 1 to 9
for i in range(1, 10):
    print(i)

apple
banana
cherry
1
2
3
4
5
6
7
8
9

In [38]:
'''b] while loop - It repeatedly executed a block of code until condition is true.
Syntax
while condition:
    # code block
    Use Case:
Useful when you want to keep looping until a condition changes dynamically, like user input or reaching a certain state.'''
# Example: Print numbers from 2 to 10
i = 2
while i <= 10:
    print(i)
    i += 1

2
3
4
5
6
7
8
9
10

In [40]:
'''Loop Control Statements :
break: Exits the loop prematurely, regardless of the loop condition.'''
for i in range(10):
    if i == 5:
        break  # Exit the loop when i equals 5
    print(i)

0
1
2
3
4

In [41]:
'''continue: Skips the rest of the current loop iteration and goes to the next iteration.'''
for i in range(5):
    if i == 2:
        continue  # Skip the iteration when i equals 2
    print(i)

0
1
3
4